@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
:root {
  --green: #5DB082;
  --blue: #6281F7;
  --gold: #F5C044;
  --blurple: #6D4AE5;
  --lavender-blue: #CAD4FA;
  --off-white: #F6F7FB;
  --charcoal: #333333;
  --slate: #737F8B;
  --navy: #161739;
  --white: #FFFFFF;

  --normal: 400;
  --medium: 500;
  --semi-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: -0.01rem;
}

body {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  font-family: "Sora", sans-serif;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 84px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 27px;
}

.header-nav a {
  color: var(--slate);
  font-weight: var(--semi-bold);
}

#signup {
  width: 112px;
  height: 44px;
  border: 1px solid var(--green);
  border-radius: 37px;
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
}

.body-content {
  width: 100%;
  background-image: url('./img/hero-image-huffie.png');
  background-repeat: no-repeat;
  background-size: 656px 1053px;
  background-position: top right;
}

.hero {
  width: 572px;
  padding-left: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  margin-bottom: 124px;
}

.hero h1 {
  font-size: 4rem;
  font-weight: var(--semi-bold);
  color: var(--charcoal);
  /* white-space: collapse balance; */
}

.hero p {
  font-size: 1.25rem;
  color: var(--slate);
}

#version {
  margin-top: 96px;
  width: 157px;
  height: 40px;
  border: 1px solid var(--lavender-blue);
  border-radius: 57px;
  background-color: var(--lavender-blue);
  display: flex;
  align-items: center;
  text-align: center;
  padding: 4px;
  gap: 19px;
  color: var(--blue);
  font-size: 0.75rem;
  font-weight: var(--semi-bold);
}

#opacity {
  height: 32px;
  width: 32px;
  border: 1px solid var(--blue);
  border-radius: 50%;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

#opacity img {
  height: 14px;
  width: 14px;
}

#hero-buttons {
  margin-top: 82px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
}

#hero-buttons a {
  text-transform: uppercase;
  font-weight: var(--semi-bold);
}

#get-started {
  width: 182px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--green);
  border-radius: 45px;
  background-color: var(--green);
}

#get-started a {
  color: var(--white);
}

#view-demo a {
  color: #8D99A7;
}

.process {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
  background-color: var(--navy);
  padding-top: 96px;
  color: var(--off-white);
  background-image: url('./img/bg-2.svg'), url('./img/bg-1.svg');
  background-size: 100% 740px, 100% 1174px;
  background-position: top;
}

#process-text {
  max-width: 510px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
}

#process-text h2 {
  font-size: 2.25rem;
  font-weight: var(--semi-bold);
}

#process-text p {
  color: var(--slate);
  font-size: 1.25rem;
  font-weight: var(--normal);
}

#cards {
  display: grid;
  grid-template-columns: repeat(4, 225px);
  gap: 67px;
  margin-bottom: 105px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 32px;
}

.card h4 {
  font-size: 1.25rem;
  font-weight: var(--semi-bold);
}

.card p {
  color: #C9D0DA;
  font-weight: var(--normal);
  line-height: 175%;
}

#process-icon {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#process-icon img {
  width: 48px;
  height: 48px;
}

.components #process-icon {
  border: 1px solid var(--blue);
  border-radius: 12px;
  background-color: var(--blue);
}

.style-guide #process-icon {
  border: 1px solid var(--gold);
  border-radius: 12px;
  background-color: var(--gold);
}

.landing #process-icon {
  border: 1px solid var(--green);
  border-radius: 12px;
  background-color: var(--green);
}

.build #process-icon {
  border: 1px solid var(--blurple);
  border-radius: 12px;
  background-color: var(--blurple);
}

.build h4 {
  max-width: 211px;
}

.bullets {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin: 96px auto;
  max-width: 937px;
}

.bullet {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 124px;
}

.points {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.points h2 {
  color: var(--charcoal);
  font-size: 2.25rem;
  font-weight: var(--semi-bold);
}

.points p {
  line-height: 175%;
  color: var(--slate);
  margin: 16px 0 24px 0;
}

.point-pic img {
  max-width: 457px;
}

#point-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  width: 46px;
  height: 46px;
  border: 1px solid;
  border-radius: 100%;
}

#point-icon img{
  width: 24px;
  height: 24px;
}

.claims {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  color: var(--slate);
  font-size: 0.875rem;
}

.claim {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.components #point-icon {
  border-color: var(--blue);
  background-color: var(--blue);
}

.style-guide #point-icon {
  border-color: var(--gold);
  background-color: var(--gold);
}

.build #point-icon {
  border-color: var(--blurple);
  background-color: var(--blurple);
}

.landing #point-icon {
  border-color: var(--green);
  background-color: var(--green);
}

footer {
  width: 100%;
  padding: 96px 80px;
  background-color: var(--navy);
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 36px;
  column-gap: 129px;
}

.tag {
  font-size: 2.25rem;
  font-weight: var(--semi-bold);
  color: var(--off-white);
  max-width: 544px;
}

.tag span {
  color: var(--green);
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 91px;
}

.general, .specific {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  font-size: 1.125rem;
}

.general a, .specific a {
  color: var(--off-white);
}


/* 1110px */
@media (max-width: 1110px) {
  .header-wrapper {
    padding: 0px 38px;
  }

  .body-content {
    background-size: 534px 858px;
  }

  .hero {
    padding-left: 32px;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .process {
    background-image: url('./img/bg-1.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  #cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    max-width: 303px;
  }

  .card h4 {
    max-width: 224px;
  }

  .components p {
    max-width: 271px;
  }

  .build h4 {
    padding: 0 32px;
  }

  .bullets {
    max-width: 895px;
  }

  .bullet {
    gap: 80px;
  }

  footer {
    padding: 96px 32px;
  }

  .footer-wrapper {
    margin-bottom: 38px;
    column-gap: 111px;
  }

  .tag {
    font-size: 1.5rem;
  }
}

@media (max-width: 790px) {
  .body-content {
    background: none;
  }

  #cards {
    grid-template-columns: 1fr;
  }

  .bullets {
    max-width: 457px;
  }

  .components, .build {
    flex-direction: column-reverse;
  }

  .style-guide {
    flex-direction: column;
  }

  .claims, .components p, .points h2, .points p {
    max-width: 358px;
  }

  .footer-wrapper {
    grid-template-columns: 1fr;
    row-gap: 53px;
  }
}